<StackLayout>
    <DropDown #dd backroundColor="grey" [items]="provinces" [(ngModel)]="selectedIndex"
        (selectedIndexChanged)="onchange($event)" row="0" colSpan="2">
    </DropDown>

    <TextField hint="Search" [(ngModel)]="searchString" (textChange)="onTextChange($event)"></TextField>
    <ListView height="200" [items]="places">
        <ng-template let-place="item">
            <label [text]="place" (tap)="placeSelected(place)"></label>
        </ng-template>
    </ListView>
</StackLayout>